{% extends "AppLacasona/padre.html" %}
{% block titulo %}
    Newsletter
{% endblock %}

{% block newsletter %}
<div>
    <h2>Dejanos tu mail para recibir las ultimas noticias del estudio!</h2>
    <br>
    <br>
</div>
<div class="row">
    <div class="col">
        <input class="form-control form-control-lg" id="emailAddress" type="email" placeholder="Email Address" data-sb-validations="required,email" />
        <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:required">Email Address is required.</div>
        <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
    </div>
    <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
</div>
{% endblock %}