{% extends "AppLacasona/padre.html" %}
{% block titulo %}
    Equipamiento
{% endblock %}

{% block cuerpo %}
<div>
    <h2>
        Micrófonos
        <p>
            Dinamicos: Shure SM57x2, ShureSM7B, Sennheiser 421x2
        </p>
        <p>
            Condenser: Neumann u87x2, Neumann TLM103, Shure SM81x2
        </p>
        <h2> Guitarras
            <p>
                Fender Duo Sonic, Fender Telecaster American Standard, Rickenbacker
            </p>
        </h2>
        <h2> Bajos
            <p>
                Rickenbacker 4033, Fender Presicion
            </p>
        </h2> DAW - Monitoreo
        <p>
            Mac / ProTools HD / Dynaudio BM05
        </p>

    </h2>
</div>
{% endblock %}